<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <p class="text-center"><small>
        <br>
        <strong><%= icon('user') %>
          <%= post.user.username %></strong>
        |
        <%= timestamp(post.created_at) %>
        |
        <%= link_to icon('location-arrow') + ' ' + post.city, post_map_path(post) %>
      </small></p>
    <hr>
    <div class="image-container">
      <div class="row text-center">
        <%= image_tag post.picture.url(:medium), class: "uploaded-pic img-rounded", :data => { src: "holder.js/300x200" } %>
      </div>
    </div>
    <div class="description-container caption">
      <p><%= post.description %>
      </p>
      <% if post.tags.any? %>
        <p><%= icon('tags') %>
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </p>
      <% else %>
        <p><%= icon('tags') %>
          No tags added</p>
      <% end %>
      <div class="votes btn-group btn-group-xs">
        <i class="fa fa-heart"></i>
        <span class="vote_count">
          <%= post.vote_count %></span>
        <%= link_to icon('thumbs-o-up'), post_votes_path(post, direction: :up), class: 'vote_button' %>
        <%= link_to icon('thumbs-o-down'), post_votes_path(post, direction: :down), class: 'vote_button ' %>
        |
        <%= link_to_if post.comments.any?, pluralize(post.comments.count, 'comment'), '#', data: { 'post-url' => post_path(post, format: :json) }, class: 'comment-link' %></div>
      <dl class='comments'>
      </dl>
      <hr>
      <p>
        <%= link_to 'Add a comment', new_post_comment_path(post), class: 'btn btn-primary' %>
        <%= link_to 'Buy', new_post_charge_path(post), class: 'btn btn-success' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' if post.user== current_user  %>
        <%= link_to "Delete", post_path(post), method: :delete, class: 'btn btn-danger' if post.user== current_user %>
      </p>
    </div>
  </div>
</div>
